<div class="container">
  <div *ngIf="userData">
    <div class="user__profile">
      <div class="user__photo">
        <img [src]="userData.profile.profile_photo || 'assets/default-avatar.jpg'" 
             class="profile-photo" 
             alt="{{userData.username}}"
             >
      </div>
      <div class="user__info">
        <h2>{{'@' + userData.username }}</h2>
        <p>{{ userData.first_name }} {{ userData.last_name }}</p>
        <p class="no-bio" *ngIf="!userData.profile.bio">No bio</p>
      </div>
    </div>

    <div class="no-posts" *ngIf="userData.posts?.length === 0">
      No posts yet
    </div>

    <div (click)="viewPostDetail(post.id)" class="post" *ngFor="let post of userData.posts">
      <div class="post__top">
          <p class="post-text">{{ post.text }}</p>
        <div class="post-image-container" *ngIf="post.image">
          <img [src]="post.image" 
              alt="Post image"
              >
        </div>
      </div>
      
      <p class="created__date">{{post.created_at}}</p>
    </div>
  </div>
</div>