<div class="container">
    <section id="navigation">
        <div class="nav__list">
            <button routerLink="/profile" class="btn btn__profile">Profile<img src="" alt=""></button>
            <!-- <button class="btn__search">Search<img src="" alt=""></button> -->
            <button class="btn btn__favs">Favorites<img src="" alt=""></button>
            <button routerLink="/login" class="btn btn__logout">Log In<img src="" alt=""></button>
        </div>
    </section>

    <section id="posts">
        <div class="post__list">
            <app-post-list></app-post-list>

        </div>
    </section>
</div>

<router-outlet></router-outlet>
