<div class="container" *ngIf="profileData">
    <section id="profile">
        <div class="profile__block">
            <div class="profile__info">
                <div class="profile__img"><img class="profile-img" [src]="profileData.profile.profile_photo" alt=""></div>
                <div class="profile__text">
                    <h2>{{'@' + profileData?.username }}</h2>
                    <h2>{{profileData?.first_name}} {{profileData?.last_name}}</h2>
                    <p>{{profileData.profile.bio}}</p>
                </div>
            </div>
            <div class="profile__edit">
                <button routerLink="/profile/update" class="edit__btn">Edit Profile</button>
            </div>
            <div class="new__post">
                <button routerLink="/create-post" class="post__btn">Create new post</button>
            </div>
            <div class="post__list"></div>
        </div>
    </section>
    <section id="posts">
        <div class="myposts">
            <div class="nopost" *ngIf="profileData?.posts?.length === 0">You don't have any posts yet.</div>
            <div (click) = "viewPostDetail(post.id)" class="post__cards" *ngFor="let post of profileData.posts">
                <h4>{{post.text}}</h4>
                <img [src]="post.image" alt="">

            </div>
        </div>
    </section>
</div>
