<div class="container" *ngIf="profileData">
    <section id="profile">
        <div class="profile__block">
            <div class="profile__info">
                <div class="profile__img"><img class="profile-img" src="https://i.pinimg.com/564x/ea/50/80/ea508059e1a6d2f2439c7fac89590526.jpg" alt=""></div>
                <div class="profile__text">
                    <h2>Adam Adam</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
            <div class="profile__edit">
                <button class="edit__btn">Edit Profile</button>
            </div>
            <div class="new__post">
                <button class="post__btn">Create new post</button>
            </div>
            <div class="post__list"></div>
        </div>
    </section>
    <section id="posts">
        <div class="myposts">
            <div class="nopost" *ngIf="profileData?.posts?.length === 0">You don't have any posts yet.</div>
            <div class="post__cards" *ngFor="let post of profileData.posts">
                <h4>{{post.text}}</h4>
                <img [src]="post.image" alt="">

            </div>
        </div>
    </section>
</div>
