<div class="container" *ngIf="profileData">
    <section id="profile">
        <div class="profile__block">
            <div class="profile__info">
                <div class="profile__img"><img class="profile-img" [src]="profileData.profile.profile_photo" alt=""></div>
                <div class="profile__text">
                    <h2>{{'@' + profileData?.username }}</h2>
                    <h2>{{profileData?.first_name}} {{profileData?.last_name}}</h2>
                    <p>{{profileData.profile.bio}}</p>
                </div>
            </div>
            <div class="profile__edit">
                <button routerLink="/profile/update" class="edit__btn">Edit Profile</button>
            </div>
            <div class="new__post">
                <button routerLink="/create-post" class="post__btn">Create new post</button>
            </div>
            <div class="post__list"></div>
        </div>
    </section>
    <section id="posts">
        <div (click)="viewPostDetail(post.id)" class="post" *ngFor="let post of profileData.posts">
            <div class="post__top">
                <p class="post-text">{{ post.text }}</p>
              <div class="post-image-container" *ngIf="post.image">
                <img [src]="post.image" 
                    alt="Post image"
                    >
              </div>
            </div>
            <div class="post__bottom">
              <div class="post__icons">
                <a class="post__link" ><img class="icon like__icon" src="icons/like.png" alt=""></a>
                <a class="post__link" ><img class="icon comment__icon" src="icons/comment.png" alt=""></a>
              </div>
              <p class="created__date">{{post.created_at | date: 'MMM d, y, h:mm a' }}</p>
      
      
            </div>
          </div>
    </section>
</div>
