<div class="container">
    <div *ngIf="isLoading" class="loading">Loading post...</div>
    
    <div *ngIf="error" class="error">{{ error }}</div>
  
    <div *ngIf="post" class="post-detail">
      <div class="post-header">
        <h2>Post Details</h2>
        <!-- <span class="author">{{ post.}}</span>
        <span class="date">{{ post.created_at | date:'medium' }}</span> -->
      </div>
      
      <div class="post-content">
        <p>{{ post.text }}</p>
        <img *ngIf="post.image" [src]="post.image" alt="Post image" class="post-image">
      </div>
      <div *ngIf="!isLoading && post.author.id === currentUser.id" class="only__user" >
        <button (click)="updatePost()">Edit post</button>
        <button (click)="deletePost()" >Delete post</button>
      </div>
      
      <button (click)="goBack()" class="back-button">Back to All Posts</button>
    </div>
  </div>