<div class="outer-container">
  <div class="menu">
    <section id="navigation">
      <div class="nav__list">
          
          <div class="btns__nav">
            <button routerLink="/" class="btn btn__home"><img src="icons/home.png" alt=""></button>
            <button routerLink="/profile" class="btn btn__profile"><img src="icons/profile.png" alt=""></button>
            <button class="btn btn__favs"><img src="icons/fav.png" alt=""></button>
          </div>
          <div *ngIf="!isLoggedIn" class="btns__login">
            <button routerLink="/login" class="btn btn__logout"><img src="icons/login.png" alt=""></button>
          </div>
          <div *ngIf="isLoggedIn" class="btns__logout">
            <button (click)="logout()" class="btn btn__logout"><img src="icons/logout.png" alt=""></button>
          </div>
          
      </div>
    </section>
  
  </div>
  <div class="container">
    <section id="header">
      <a [routerLink]="['/']">
        <div class="header__info">
          <div class="header__text">bailanysta</div>
          
        </div>
      </a>
      <router-outlet></router-outlet>
      
    </section>
  </div>
  
</div>



