.outer-container{
    max-width: 96%;
    margin: 25px auto;

}
.container {
    max-width: 720px;
    margin: 0 auto;
}
.header__info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.header__text {
    font-size: 36px;
}
.menu {
    position: fixed;
    width: 70px;
    height: 640px;
    padding: 20px 10px;
    border: 1px solid #999999;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav__list {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.btn {
    border: none;
    background: none;
}
.btn img{
    width: 54px;
    padding: 20px 0;
}
.btn:hover{
    cursor: pointer;

}
.btns__nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btns__nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.btn__profile {
}
.btn__favs {
}
.btn__logout {
}
